<app-header title="Favorites"></app-header>

<ion-content>
    <ion-list>
        <app-char-list *ngFor="let element of characters" 
        [element]="element"
        routerLink="/character-detail/{{element.id}}">
        </app-char-list>
    </ion-list>
</ion-content>
<ion-footer translucent="false" >
    <ion-row style="background-color: #0b3835;">
      <ion-col class="ion-no-padding" style="border-right: 1px solid #90bd47;">
          <ion-button class="no-margin" expand="full" routerLink="/characters">Characters</ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
          <ion-button class="no-margin" expand="full" routerLink="/user">Profile</ion-button>
      </ion-col>
  </ion-row>
  
</ion-footer>