.icon{
    text-align: center;
    margin-bottom: 0;
    padding: 0;
}
ion-icon{
    font-size: 880%;
    margin-top: 1.5rem;
    text-align: center;
    padding:1rem;
}
.icon-background{
    background-color:#0b3835;
    border-radius: 50% !important;
}
ion-item{
    margin-right: 1rem;
}
ion-button{
    margin: 1rem 1rem;
}
.button{
    padding: 0;
}
ion-toolbar{

    --background:#18803c;
}
ion-title{
    color:white;
}
ion-content{
    text-align: center;
    --ion-background-color: #90bd47;

}