.profile-container {
  padding: 1.25rem 0;
  background-color: white;
}
.profile-image {
  margin: auto;
  text-align: center;
  background-color: white;

}
.profile-name {
  margin: auto;
  background-color: white;

}
.centered {
  text-align: center;
}

h1 {
  font-size: 7rem;
  border-radius: 50% !important;
  background-color: #afd472;
  padding: 2rem;
  margin-bottom: 2.5rem;
  color: #39a6a8;
  border-style: outset;
  border:5px solid rgb(221, 223, 221);
  text-shadow: 2px 2px 5px #354d13;
}
.option {
  border-bottom: 0.5px solid rgb(218, 216, 216) !important;
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
.scroll {
  width: 100%;
}
.custom-select {
  width: 100%;
}

ion-content{

  --ion-background-color: #90bd47;
}
ion-grid{
    background:  #90bd47;
}
ion-card,  ion-label, item-inner{
    background:  white;
  --ion-background-color: white;

}
ion-card{
  margin:0.8rem;
}
select{
  margin:0.5rem;
  border: 1px solid #0b3835;
  padding:0;
}
ion-button{
  margin: 1rem 1rem;
}
ion-item{
  border: none
}
.profile-container{
  padding:0 !important;
}