.profile-container {
  padding: 1.25rem 0;
}
.profile-image {
  margin: auto;
  text-align: center;
}
.profile-name {
  margin: auto;
}
.centered {
  text-align: center;
}

h1{
  font-size: 7rem;
  border-radius: 50% !important;
  background-color: rgb(41, 69, 160);
  padding: 2rem 2.5rem;
  margin-bottom: 2.5rem;
}