<app-header title="Welcome {{user.firstName}} {{user.lastName}}"></app-header>

<ion-content>
  <ion-card>
    <ion-item class="profile-container">
      <div class="profile-image">
        <div class="profile-name">
          <h1>{{user.firstName[0]}}{{user.lastName[0]}}</h1>
        </div>
      </div>
    </ion-item>
    
    <ion-item>
      <ion-label class="centered">Your Profile</ion-label>
      
    </ion-item>
    
    <ion-card-content class="centered">
      <b>Name: </b>{{user.firstName}} {{user.lastName}}<br>
      <b>Email:</b>{{user.email}}<br>
      <b>Cellphone:</b> {{user.cellphone}}
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row class="scroll">
      <select [size]='3' class="custom-select text-center">
        <option class="option" *ngFor="let character of characters" value="{{character.id}}" routerLink="/character-detail/{{character.id}}">
          {{character.name}}
        </option>
      </select>
    </ion-row>
  </ion-grid>
  <ion-button (click)="logOut()" color="primary" expand="full" shape="round">
    Log Out
  </ion-button>
</ion-content>
