.profile-container {
  padding: 1.25rem 0;
}
.profile-image {
  border-radius: 50% !important;
  //   height: 16rem;
  background-color: red;
  width: 60%;
  padding: 5.5rem 0;
  margin: auto;
  text-align: center;
}
.profile-name {
  margin: auto;
}
.centered {
  text-align: center;
}
