<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <img src="../../../assets/icon/Rick_and_Morty_logo.png">
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="password" type="password"></ion-input>
    </ion-item>
    
    <ion-row class="ion-row">
      <ion-col>
        <ion-button color="primary" type="submit" expand="block" shape="round" [disabled]="loginForm.invalid">
          Login
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <a [routerLink]="['/forgot']" class="small-text ion-text-center">Forgot Password?</a>
      </ion-col>
      <ion-col>
        <a [routerLink]="['/register']" class="small-text ion-text-center">Sign Up</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
