<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize">Sign Up</ion-title>
    
      
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"
                            color="primary"></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="icon">
    <ion-icon name="person-circle" color="primary"></ion-icon>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">FirstName <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required formControlName="firstName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">LastName <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required formControlName="lastName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cellphone <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required formControlName="cellphone" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col class="button">
        <ion-button color="primary" type="submit" expand="block" shape="round" [disabled]="registerForm.invalid">
          Sign Up
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
