  <app-header title="Season {{season}}, episode {{episodeNumber}}"></app-header>
  
  <ion-content>
    <div *ngIf="characterDataLoaded | async">

    <h1>
      {{episode.name}}
    </h1> 
 
    <p>
      <b>Air date:</b> {{episode.air_date}}
    </p>
    <h4><b>Characters:</b></h4>

    <ion-list>
      <app-char-list *ngFor="let element of characters" 
        [element]="element"
        routerLink="/character-detail/{{element.id}}">
      </app-char-list>
    </ion-list>
  </div>
  
</ion-content>
<ion-footer translucent="false" >
  <ion-row style="background-color: #0b3835;">
    <ion-col class="ion-no-padding" style="border-right: 1px solid #90bd47;">
            <ion-button class="no-margin" expand="full" routerLink="/favorites">Favorites</ion-button>
        </ion-col>
        <ion-col class="ion-no-padding">
            <ion-button class="no-margin" expand="full">Profile</ion-button>
        </ion-col>
    </ion-row>
    
</ion-footer>
  
